
<h4><u>Posts</u></h4><br><br>


<div class="container">

  <%= link_to "new post", new_post_path(:email=>current_user.email) %><br><br>


     <% if @friend_logic.aasm_state == "friend" %>


            <% @from_posts.each do |post| %>
               <div class="row postbox">
                  User: <%= post.user.email %><br><br>
                  Post: <%= post.text %><br><br>
                  <%= link_to "comment", new_comment_path(:post_id=>@from_posts) %><br>
               </div><br><br>
            <% end %>



            <% @to_posts.each do |post| %>
               <div class="row postbox">
                  User: <%= post.user.email %><br><br>
                  Post: <%= post.text %><br><br>
                  <%= link_to "comment", new_comment_path(:post_id=>@from_posts) %><br>
                </div><br><br>
            <% end %>



   <% end %>


</div>
